body {
  background-color: black;
}
h1 {
  color: white;
}
p {
  color: white;
}

footer {
  color: white;
}

.search-container {
    margin-bottom: 10px;
}

#gameSearch {
    width: 320px;
    padding: 12px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    outline: none;
    background: #111;
    color: white;

    box-shadow:
        0 0 5px #0ff,
        0 0 10px #0ff,
        0 0 20px #0ff;
}

#gameSearch::placeholder {
    color: #aaa;
}

.site-footer {
  background: #111;
  color: #fff;
  padding: 40px 20px;
  margin-top: 60px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section a {
  display: block;
  color: #ccc;
  text-decoration: none;
  margin: 6px 0;
}

.footer-section a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: #aaa;
}
